:root {
    --color-text-general: #ffffff;
    --color-text-commit: #f0f8ff7e;
    --color-background-general: #161515;
    --color-conture-search: #ffffff33;
    --color-background-ico: #7573732d;
    --color-background-link: #7772728a;
    --color-background-hover-link: #7772723f;
    --color-none: none;
    --color-fill-ico: #ffffff;
    --color-stroke-ico: #ffffff;

}