:root{
    --color-bg-header: #0b0a10;
    --color-regular: #ffff;
    --color-link: #94b9f4;
    --color-bg-box: #2b2b3b77;
    --color-bg-regular: #09091b;
    --color-general-under-card: #cbd1d6ee;
    --color-time-under-card: #f0f8ff86;
    --color-footer: #f0f8ffa8;
    --color-bg-search: #000000;
  }