body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  background-color: var(--color-bg-regular);
  color: var(--color-regular);
}

.container {
  max-width: 960px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  
}


