body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  background-color: #09091b;
  color: aliceblue;
}

.container {
  max-width: 960px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  
}

:root{
  --cl-link: #94b9f4;
  --cl-bk-box: #2b2b3b77;
}
