.article {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: aliceblue;

  &__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }

  &__content {
    font-size: 14px;
  }
}
