.central{
    &__list{
        display: grid;
        gap: 30px;
        padding: 2rem;
        padding-right: 20%;
        box-sizing: border-box;
        list-style: none;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        //display: grid;
        //grid-template-columns: repeat(6, 2fr);
        //gap: 20px;
    }

}