.footer {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: var(--color-footer);

    &__list {
        list-style: none;
        display: flex;
        gap: 20px;
        margin-bottom: 8px;
        padding: 0px 16px;

    }

    &__link {
        color: var(--color-link);

        &:not(:hover) {
            text-decoration: none;
        }
    }


    &__text {
        margin: 8px 0px;
    }

    &__textlink {
        color: var(--color-link);
        
        &:not(:hover) {
            text-decoration: none;
        }
    }


}