.header {
  background-color: hsl(250, 23%, 5%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  &logo {
    align-items: flex-start;
  }

  &search {
    align-items: flex-end;
    flex: 0 0 344px;
  }
}
