.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;

  @media (max-width: 590px) {
    flex-direction: column;
  }


  &__list {
    display: flex;
    gap: 25px;
    list-style: none;

    @media (max-width: 780px) {
      display: none;
    }
  }

  &__link {
    font-size: 16px;
    color: var(--color-link);
    text-decoration: none;

    &:not(:hover) {
      color: var(--color-regular);
    }
  }



  &__logo {
    height: 50px;
  }


  &__searchbox {
    align-items: flex-end;
    background-color: var(--color-bg-search);
    margin: 0px 0px 0px 16px;
    height: 44px;
    white-space: nowrap;

    &::before {
      font-size: 20px;
      content: "\058E";
      padding-left: 12px;
    }
  }

  &__search {
    background-color: var(--color-bg-search);
    border: 0;
    height: 44px;
    min-width: 390px;
    padding: 4px 8px;
    font-size: 18px;
    color: var(--color-regular);

    @media (max-width: 400px) {
      min-width: 300px;
    }
  }
}