.menu {
    max-width: 72px;
    position: fixed;
    left: 0;
    box-sizing: border-box;
    height: 100%;
    z-index: 8;
    
    @media(max-width: 768px) {
        display: none;
    }


    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;    
        
        
    }

    &__item {
        width: 72px;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        &:hover {
            background-color: var(--color-background-link);
            border-radius: 10px;
        }
    }

    &__title {
        text-align: center;
        font-size: 10px;
        color: var(--color-text-general);
    }

    &__logo {
        height: 24px;
        fill: var(--color-fill-ico);
        align-items: center;
        justify-content: center;

    }

    &__link {
        text-decoration: none;
        display: block;
        padding: 8px 0;
    }




}