.under{
    &__list{
        align-items: center;
        padding:0;
        padding-left: 20px;
        padding-right: 20px;
        list-style: none;
        gap: 20px;
        box-sizing: border-box;
    }
    &__title{
        font-size: 32px;
        font-weight: normal;
        margin: 0px 35px;
    }
}