.upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  &__title {
    font-size: 37px;
    padding: 0 1rem;
    font-weight: normal;
  }

  &__text {
    font-size: 18px;
    padding: 0 1rem;
  }
  &__img{
    width: 240;
    height: 240;
    border-radius: 0.25rem;
  }

}