.upper {

  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  padding-right: 16px;

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  &__card {
    padding: 0px 16px;
  }

  &__title {
    font-size: 37px;
    font-weight: normal;
  }

  &__text {
    font-size: 18px;
  }

  &__img {
    width: 240px;
    height: 240px;
    border-radius: 5px;
    object-fit: cover;

    @media (max-width: 768px) {
      width: 100%;
      height: 200px;
    }
  }
}