.upper {
    position: fixed;
    display: flex;
    width: 90vw;
    height: 56px;
    background-color: var(--color-background-general);
    z-index: 8;
    $this: &;
    overflow: scroll;
    overflow-y: hidden;

    @media(max-width: 768px) {
        width: 100%;
    }

    &::-webkit-scrollbar {
        height: 6px;

        @media(max-width: 768px) {
            display: none;
        }
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(92, 91, 91);
        border-radius: 20px;
    }

    &:not(:hover) {
        &::-webkit-scrollbar {
            display: none;
        }
    }


    &__list {
        display: flex;
        gap: 16px;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    &__item {
        &:first-child {
            #{$this} {
                &__button {
                    background-color: #ffffff;
                    color: black;
                    margin-left: 8px;
                }
            }
        }

        &:last-child {
            #{$this} {
                &__button {
                    margin-right: 8px;
                }
            }
        }


    }

    &__button {
        display: block;
        text-decoration: none;
        color: var(--color-text-general);
        background-color: var(--color-background-link);
        border-radius: 8px;
        padding: 4px 12px;
        margin-top: 16px;
        border: 0;
        cursor: pointer;
        &:not(:hover) {
            background-color: var(--color-background-hover-link);
        }
        &:focus{
            background-color: #fff;
            color: #000;
            .upper__item:first-child {
                #{$this} {
                    &__button {
                        background-color: var(--color-background-link);
                        //color: black;
                    }
                }
            }
        }
    }

    &__text {
        margin: 0px;
        font-size: 14px;
        white-space: nowrap;

    }
}
